      .checkbox{
				border:1px solid #bbb;
				border-bottom:2px solid #bbb;
				background-color:#fff;
				width:20px;
				height:20px;
				border-radius:4px;
				display:inline-block;
			}
			
			.checkbox.checked{
				background-image:url('../images/checkGrey.png');
				background-size:80% auto;
				background-position:center;
				background-repeat:no-repeat;
			}
			
			.checkboxTable{
				color:#bbb;
				width:100%;
				cursor:pointer;
				font-family: Arial, sans-serif;
				font-size:16px;
				margin:5px 0px;
			}
			
			.checkboxTable td{
				padding:5px 2.5px;
				text-align:left;
			}
			
			.checkboxTable td img{
				height:20px;
				opacity:.2;
			}
			
			.checkboxTable  td:nth-of-type(1){
				width:25px;
			}
			
			.checkboxTable  td:nth-of-type(3){
				text-align:right;
			}
