			@media only screen and (min-width: 750px) {
				.ui-autocomplete {
					position: absolute!important;
				}
			}
			
			/* For Firefox */
			input[type='number'] {
			    -moz-appearance:textfield;
			}
			/* Webkit browsers like Safari and Chrome */
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
			    -webkit-appearance: none;
			    margin: 0;
			}

			#panels{
				font-family: 'Roboto Slab', serif;
			}
			
			main button{
				-webkit-appearance: none;
    				-moz-appearance: none;
    				appearance: none;
				width:100%;
				border:0px none transparent;
				padding:20px;
				font-size:20px;
				margin:10px 0px;
				border-radius:4px;
				color:#fff;
				background: rgb(0,255,213);
				background: -moz-linear-gradient(-45deg, rgba(0,255,213,1) 0%, rgba(0,255,38,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(0,255,213,1) 0%,rgba(0,255,38,1) 100%);
				background: linear-gradient(135deg, rgba(0,255,213,1) 0%,rgba(0,255,38,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffd5', endColorstr='#00ff26',GradientType=1 );
				border-bottom:4px solid rgba(0,0,0,.2);
			}
			
			main button img{
				height:28px;
			}
			
			#retryPlantCredentialsButton img{
				height:27px;
			}
			
			textarea{
				width:100%;
				background:#fff;
				border:1px solid #ddd;
				border-bottom:2px solid #ddd;
				font-size:16px;
				padding:16px;
				box-sizing:border-box;
				border-radius:4px;
				margin:5px 0px;
				color:#aaa;
				-webkit-appearance: none;
    				-moz-appearance: none;
    				appearance: none;
			}
			
			textarea{
				height:54px;
				overflow:hidden;
			}
			
			.textareaHolder{
				position:relative;
			}
			
			.textareaOtherLinesCover{
				background:#fff;
				position:absolute;
				bottom:7px;
				left:16px;
				right:16px;
				height:16px;
				pointer-events: none;
			}
			
			#retryPlantCredentials{
				text-align:center;
				position:fixed;
				top:0px;
				left:0px;
				z-index:1000;
				width:100%;
				padding:20px;
				box-sizing:border-box;
				color:#fff;
				font-size:16px;
				display:none;
			}
			
			#retryPlantCredentials .message{
				margin-bottom:20px;
			}
			
			#retryPlantCredentials .form{
				margin:0px -20px -20px -20px;
				padding:20px;
				background:rgba(0,0,0, .1);
			}
			
			#retryPlantCredentials .inputTitle{
				font-size:12px;
				text-align:left;
			}
			
			#retryPlantCredentials input{
				width:100%;
				background:#fff;
				border:1px solid #ddd;
				border-bottom:2px solid #ddd;
				font-size:16px;
				padding:16px;
				box-sizing:border-box;
				border-radius:4px;
				margin:5px 0px;
				color:#aaa;
				-webkit-appearance: none;
    				-moz-appearance: none;
    				appearance: none;
			}
			
			#retryPlantCredentials button{
				-webkit-appearance: none;
    				-moz-appearance: none;
    				appearance: none;
				width:100%;
				border:0px none transparent;
				padding:20px;
				font-size:20px;
				margin:10px 0px;
				border-radius:4px;
				color:#fff;
				background: rgb(0,255,213);
				background: -moz-linear-gradient(-45deg, rgba(0,255,213,1) 0%, rgba(0,255,38,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(0,255,213,1) 0%,rgba(0,255,38,1) 100%);
				background: linear-gradient(135deg, rgba(0,255,213,1) 0%,rgba(0,255,38,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffd5', endColorstr='#00ff26',GradientType=1 );
				border-bottom:4px solid rgba(0,0,0,.2);
			}
			
			#retryPlantCredentials .discard{
				font-size:14px;
				text-decoration:underline;
				padding:10px 0px;
			}
			
			#map-canvas {
              			height: 260px;
              			margin:10px 0px;
              			border-radius:4px;
              			overflow:hidden;
              			color:#ff4545;
              			background:#fff;
              			padding:20px;
              			font-family: 'Open Sans', sans-serif;
            		}
            		#map-canvas .centerMarker {
              			position: absolute;
              			background: url("../images/marker.png") no-repeat;
              			top: 50%;
              			left: 50%;
              			z-index: 1;
              			margin-left: -10px;
              			margin-top: -34px;
              			height: 34px;
              			width: 20px;
              			pointer-events: none;
            		}
			
			#iconBar{
				text-align:left;
				border-bottom:0px none transparent;
				margin:-20px -20px 0px -20px;
				padding:10px;
				background:#333;
				display:none;
			}
			
			#iconBar .panelIcon{
				float:right;
				height:30px;
				margin:2px 4px 0px 0px;
				opacity:.2;
				border:3px solid transparent;
			}
			
			#iconBar .panelIcon.accessible{
				opacity:1;
			}
			
			#iconBar .panelIcon.active{
				opacity:1;
				background-color:#00a800;
				border-radius:50%;
			}
			
			#iconBar .panelIcon:nth-of-type(2){
				margin-right:5px;
			}
			
			/*
			ul.ui-autocomplete{
				z-index:998;
			}
			
			ul{
				width:50px;
				padding:0px;
			}
			
			ul>li:first-of-type{
				-webkit-box-shadow: 0px -4px 0px 0px #888;
				-moz-box-shadow: 0px -4px 0px 0px #888;
				box-shadow: 0px -4px 0px 0px #888;
				padding:1px 25px 5px 25px;
			}
    
			ul>li{
				background:#888;
				color:#fff;
				font-size:18px;
				padding:5px 25px;
				box-sizing:border-box;
				list-style-type:none;
			}
			
			ul>li:last-of-type{
				border-radius:0px 0px 4px 4px;
				overflow:hidden;
				border-bottom:2px solid rgba(0,0,0,.2);
			}
			
			.ui-helper-hidden-accessible{
				display:none;
			}
			*/
			
			select, .select{
				width:100%;
				-webkit-appearance: none;
    				-moz-appearance: none;
    				appearance: none;
    				border-radius:4px;
    				padding:20px;
    				font-size:20px;
    				background:#fff;
				border:1px solid #ddd;
				border-bottom:2px solid #ddd;
				color:#aaa;
				box-sizing:border-box;
				margin-top:5px;
				background:#fff;
				cursor:pointer;
			}
			
			.select{
				padding:0px;
			}
			
			.select .option{
				max-height:0px;
				overflow:hidden;
			}
			
			.select .option.selected{
				max-height:250px;
				overflow:hidden;
			}
			
			.select .option .value{
				display:none;
			}
			
			.select .option .shown{
				padding:16px;
				position:relative;
				font-size:16px;
			}
			
			.select .option .shown .image{
				width:34px;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
				display:inline-block;
				opacity:.4;
				position:absolute;
				right:20px;
				top:10px;
				bottom:10px;
			}
			
			.select .option .shown .text{
				display:inline-block;
			}
			
			.group{
				margin:10px 0px;
			}
			
			.half{
				width:49%;
				float:left;
			}
			.half:first-of-type{
				float:left;
			}
			.half:nth-of-type(2){
				float:right;
			}
			.half:last-of-type{
				float:right;
			}
			
			.observationFieldTitle{
				color:#777;
				font-size:12px;
			}
			
			
			
			
			main .panel button.dualOptionButton{
				width:49%;
				margin:0px;
				box-sizing:border-box;
				background:#fff;
				color:#aaa;
				border:1px solid #ddd;
				border-bottom:2px solid #ddd;
				font-size:15px;
				padding:16px;
			}
			
			main .panel button.activeDualOptionButton{
				background:#333;
				color:#fff;
			}
			
			main .panel .dualOptionButtons button.dualOptionButton:first-of-type{
				float:left;
			}
			
			main .panel .dualOptionButtons button.dualOptionButton:nth-of-type(2){
				float:right;
			}
			
			.spacer{
				height:20px;
				width:100%;
			}
			
			.panelTitle{
				padding:15px 20px 15px 20px;
				margin:0px -20px;
				font-size:26px;
				color:#444;
			}
			
			#arthropod, #plant{
				display:none;
			}
			
			#arthropodFormDiv{
				display:none;
			}
			
			.countInput{
				position:relative;
			}
			
			.countAttachment{
				position:absolute;
				top:6px;
				right:1px;
				bottom:6px;
				width:40px;
				cursor:pointer;
			}
			
			.countAttachment>div{
				position:absolute;
				height:50%;
				width:100%;
				right:0px;
				background-color:#eee;
				background-position:center;
				background-repeat:no-repeat;
				background-size:auto 7px;
			}
			
			.countAttachment>div:first-of-type{
				top:0px;
				border-radius:0px 4px 0px 0px;
				background-image:url("../images/upCountArrow.png");
			}
			
			.countAttachment>div:last-of-type{
				top:50%;
				border-radius:0px 0px 4px 0px;
				background-image:url("../images/downCountArrow.png");
			}
			
			.characterCount{
				text-align:right;
				font-size:13px;
				margin-top:-8px;
				color:#fff;
			}
			
			#samePass{
				text-align:right;
				display:none;
			}
			
			#samePass table{
				float:right;
			}
			
			#samePass td{
				color:#bbb;
			}
			
			#samePass .checkbox{
				margin-right:5px;
			}
			
			#caterpillarOptionsGroup{
				display:none;
			}
			
			.fileInputHolder{
				width:100%;
				background:#fff;
				border:1px solid #ddd;
				border-bottom:2px solid #ddd;
				font-size:16px;
				padding:16px;
				box-sizing:border-box;
				border-radius:4px;
				margin:5px 0px;
				color:#aaa;
				overflow:hidden;
				position:relative;
				cursor:pointer;
			}
			
            		.fileInputHolder input[type="file"]{
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				opacity:0;
			}
			
			#fileInputs input{
				display:none;
			}
			
			#fileInputs #tempFileInput{
				display:block;
				background:red;
			}
			
			.snapIcon{
				float:right;
				height:30px;
				margin:-4px 0px;
				opacity:.95;
			}
			
			.uploadedImage{
				width:100%;
				height:0px;
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center;
				position:relative;
			}
			
			#uploadedImageGrayOutCover{
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				background:rgba(0,0,0,.5);
			}
			
			#fileInputRemoveLink{
				text-align:right;
				margin-top:-5px;
				display:none;
			}
			#fileInputRemoveLink>div{
				font-size:14px;
				color:#0072c9;
				padding:5px 10px;
				display:inline-block;
			}
			
			#arthropodCards .orderTable{
				border:1px solid #ddd;
				border-top:0px none transparent;
				border-bottom:0px none transparent;
				border-collapse:collapse;
				width:100%;
				margin-bottom:-1px;
			}
			
			#arthropodCards .orderTableHolder{
				position:relative;
			}
			
			#arthropodCards .orderTableHolder:first-of-type{
				border-top:1px solid #ddd;
				margin-top:40px;
			}
			
			#arthropodCards .orderTableHolder:last-of-type{
				border-bottom:1px solid #ddd;
				margin-bottom:20px;
			}
			
			#arthropodCards .orderTableHolder .deleteButtonOverlay{
				position:absolute;
				top:0px;
				right:0px;
				width:100%;
				height:100%;
				z-index:2;
				max-width:0px;
				overflow:hidden;
			}
			
			#arthropodCards .orderTableHolder .deleteButtonOverlay>div{
				height:100%;
				float:right;
				background-repeat:no-repeat;
				background-position:center;
				background-size:auto 18px;
			}
			
			#arthropodCards .orderTableHolder .deleteButtonOverlay>div:nth-of-type(1){
				width:25%;
				background-color:#555;
				background-image:url("../images/close.png");
			}
			
			#arthropodCards .orderTableHolder .deleteButtonOverlay>div:nth-of-type(2){
				width:75%;
				background-color:#ff7d7d;
				background-image:url("../images/confirmDelete.png");
			}
			
			#arthropodCards .orderTable td:nth-of-type(1), #arthropodCards .orderTable td:nth-of-type(4){
				width:45px;
				text-align:center;
			}
			
			#arthropodCards .orderTable td:nth-of-type(1)>div{
				background-repeat:no-repeat;
				background-size:contain;
				background-position:center;
				width:30px;
				height:30px;
				display:inline-block;
				opacity:.4;
			}
			
			#arthropodCards .orderTable td:nth-of-type(4)>div{
				background-repeat:no-repeat;
				background-size:contain;
				background-position:center;
				width:26px;
				height:18px;
				display:inline-block;
				opacity:.8;
			}
			
			#arthropodCards .orderTable td:nth-of-type(2){
				color:blue;
				text-decoration:underline;
				padding:20px 5px;
				text-align:left;
			}
			
			#arthropodCards .orderTable td:nth-of-type(3), #arthropodCards .orderTable td:nth-of-type(4){
				color:#777;
				height:100%;
				background:#fff;
				text-align:center;
				border-bottom:2px solid transparent;
			}
			
			#arthropodCards .orderTable td:nth-of-type(3){
				position:relative;
				background-repeat:no-repeat;
				background-size:10px auto;
				background-position:center;
				width:50px;
			}
			
			#arthropodCards .orderTable td:nth-of-type(3)>div{
				position:absolute;
				left:0px;
				width:100%;
				height:50%;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:9px auto;
				background-position:center;
			}
			
			#arthropodCards .orderTable td:nth-of-type(3)>div:nth-of-type(1){
				background-image:url("../images/cardUpCountArrow.png");
				background-position:center bottom;
				top:0px;
			}
			
			#arthropodCards .orderTable td:nth-of-type(3)>div:nth-of-type(2){
				bottom:0px;
				background-position:center top;
				background-image:url("../images/cardDownCountArrow.png");
			}
			
			#addAnotherArthropodButton{
				display:none;
				background:#e7e7e7;
				color:#999;
				padding:10px;
				margin-top:-21px;
				margin-bottom:40px;
				border-radius:0px;
				border-left:1px solid #ddd;
				border-right:1px solid #ddd;
			}
			
			#panels{
				position:relative;
			}
			
			#uploadAPicture{
				position:relative;
			}
			#uploadAPicture #pictureUploadMethod{
				position:absolute;
				left:100%;
				margin-left:16px;
				top:-16px;
				right:-16px;
				bottom:-16px;
				background:#fff;
			}
			
			#uploadAPicture #pictureUploadMethod>div{
				display:table-cell;
				vertical-align:middle;
				height:100%;
				float:left;
				text-align:center;
				overflow:hidden;
			}
			
			#uploadAPicture #pictureUploadMethod>div:nth-of-type(1), #uploadAPicture #pictureUploadMethod>div:nth-of-type(2){
				border-right:1px solid #eee;
				margin-right:-1px;
				width:50%;
				padding-top:16px;
			}
			#uploadAPicture #pictureUploadMethod>div:nth-of-type(3){
				position:absolute;
				right:0px;
				width:0px;
				font-size:25px;
				background:#eee;
				padding-top:10px;
			}
			
			.italic{
				font-style:italic;
			}
			
			.clearBoth{
				clear:both;
			}
			@media only screen and (max-width: 780px) {
				main h2{
					font-size:34px;
				}
			}
