body {
	margin: 0;
	background: #ECECEC;
}

div.userInfo {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
	background: #355D3D;
	color: white;
	height: 25px;
        padding: 5px 5px;
        padding-bottom: 0px;
        margin-bottom: 10px;
}

div.userInfo span{
    float:left;
    margin-left: 20px;
    margin-right: 10px;
}

div.userInfo button{
    float:right;
}

div.site2{
    float: left;
}

input{
    margin: 5px 0px;
}

select{
    margin: 5px 0px;
}



pre{
    display: inline;
}

div.credentials{
    margin-left: 20px;
}

div.credentials span{
    margin-right: 10px;
}

p.error{
    color:red;
}

div.siteBox{
    height:350px;
}

div.newSite{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}

div.description *{
    vertical-align: top;
}

div.description{
    margin-top: 5px;
}

div.survey{
	margin-left: 20px;
	margin-top: 20px;
}

div.survey  > span{
	margin-right: 25px;
}

table.survey {
    border-collapse: collapse;
}

tr.survey.odd{
    background-color: #00FF99;
}

table.survey th, td {
	padding: 10px 10px;
}

tr.order {
    display: none;
    background-color: Wheat;
}

td.order div{
	margin-left: 50px;
}

div.tableBox {
	-webkit-box-shadow:  
		inset 0 0 5px #000;
	  -moz-box-shadow:  
		inset 0 0 5px #000;
	  -o-box-shadow: 
		inset 0 0 5px #000;
	  box-shadow: 
		inset 0 0 5px #000;
	
	margin-right: 50px;
	padding: 10px;
	margin-top: 10px;
}

th.sort:hover{
    color: forestgreen;
}

th.sort:active{
    text-decoration: underline;
}

h3{
    margin-bottom: 5px;
}

table.survey img{
    width: 50px;
    height: 70px;
}
span.glyphicon-th-list{
    cursor: pointer;
}
span.glyphicon-ok{
    color: limegreen;
}
span.glyphicon-remove{
    color: red;
}
#RulesTable td:first-child{
    width: 20%;
}
#RulesTable td:nth-child(2){
    width: 10%;
}
#RulesTable td:nth-child(2){
    text-align: center;
}