th.qrcode{
    padding:5px;
    padding: 15px;
    border-radius: 5px;
}

table{
     border: 1px solid black;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-spacing: 2px;
    font:　20px;
}