body{
    margin: 0;
    background: #ECECEC;
}

div.userInfo {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
	background: #355D3D;
	color: white;
	height: 25px;
        padding: 5px 5px;
        margin-bottom: 10px;
}

div.userInfo span{
    float:left;
    margin-left: 22px;
    margin-right: 10px;
}

#signout{
    float:right;
    width: 70px;
    height: 25px;
}

#addOrderForm {
    margin-bottom: 10px;
}

#d1{
    float:left;
    width:450px;
    margin-left: 50px;
}

#d2{
    float: left;
    height: 600px;
    width: 450px;
    overflow: auto;
}

p.siteNotes * {
    vertical-align: top;
}

pre{
    display: inline-block;
    margin: 5px 0px;
}

form.order input, select{
    margin-bottom: 10px;
}

button.uploadOrderPic{
    margin-left: 5px;
}

button.addOrderCard, button.cancel{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

div.order{
    margin-bottom: 10px;
    background-color: #66FF99;
    width: 400px;
    padding: 10px;
}

p.error{
    color: red
}

#herbivory img{
    height: 42px;
    width: 50px;
}

div.instruction{
    margin: 20px 50px;
}

#submitSurvey {
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    background: #ECECEC;
		border-radius: 15px;
		padding: 5px 5px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color: #355D3D;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 20%;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
}

button:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	}
	
button:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}

div.order button{
	display: inline-block;
}

#submitSurvey {
	width: 140px;
	padding: 10px 5px;
}

button.deleteOrderCard {
	width: 100px;
	margin-top: 5px;
}